.modal-wrap {}

.modal-wrap.open .modal-window,
.modal-wrap.open .modal-overlay {
  opacity: 1;
  z-index: 1000;
}

.modal-wrap.hide .modal-window,
.modal-wrap.hide .modal-overlay {
  opacity: 1;
  z-index: 1000;
}

.modal-wrap.open .modal-window {
  transform: translate(-50%, -50%);
}

.modal-wrap.open .modal-overlay {
  background: rgba(0, 0, 0, .5);
}

.modal-wrap.hide .modal-window {
  transform: translate(-200px);
}

.modal-wrap.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -200px);
  padding: 40px 40px 0;
  background-color: #b7b7b7;
  z-index: 100;
  transition: transform .2s ease-in;
}

.modal-close {
  position: absolute;
  right: 15px;
  transform: translateY(-15%);
  font-size: 2rem;
  color: #555555;
  cursor: pointer;
  &:hover {
    color: #000000;
  }
}

.modal-title {
  position: relative;
  margin: -20px 10px 10px -60px;
  padding: 6px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  background-color: #999;
  text-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 2px 4px #888;

  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
  }

  &:before {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 0;
    left: -30px;
    top: 15px;
    border-width: 15px 25px;
    border-style: solid;
    border-color: #999 #999 #999 transparent;
  }

  span {
    text-transform: lowercase;
  }
}


@media (min-width: 576px) {
  .modal-window {
    width: 400px;
  }
}