<section class="content text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content__item">
                    <h2 data-aos="flip-left"  data-aos-offset="200">portfolio</h2>
                    <p class="p-portfolio">my works</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 order-md-3 order-lg-0">
                <div class="row__item">
                    <div class="img-container">
                        <img class="img-container__item" src="images/gym-10.jpg" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal1">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/LoveFit" target="_blank">View site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container-overlay"></div>
                    <div class="img-container">
                        <img class="img-container__item" src="images/top-banner_mobile.png" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal6">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/Talk_Bootstrap4_Gulp4/" target="_blank">View site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container-overlay"></div>
                    <div class="img-container">
                        <img class="img-container__item img-container__item_grid" src="images/top-banner_mobile.png" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal7">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/Talk_Grid_Gulp4/" target="_blank">View site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container">
                        <img class="img-container__item" src="images/Wedding.jpg" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal3">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/wedding(bootstrap3)/" target="_blank">View site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container img-container_feature">
                        <img class="img-container__item img-container__item_feature" src="images/Earth.png" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal4">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/Earth-Moon+Plane/" target="_blank">View site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container">
                        <img class="img-container__item" src="images/night-work1.jpg" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal5">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/Certificate.gif" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 order-8">
                <div class="row__item">
                    <div class="img-container">
                        <img class="img-container__item" src="images/night-work4.jpg" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal8">Description</a>
                        <a href="javascript:void(0);">not ready</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row__item">
                    <div class="img-container">
                        <img class="img-container__item" src="images/Cat.jpg" alt="" />
                    </div>
                    <div class="work">
                        <h3 class="work-title">Title of Work</h3>
                        <p>Website development</p>
                        <a class="js-open-modal" href="#modal2">Description</a>
                        <a href="https://nveretenko.github.io/Portfolio/Blog(adaptive)/" target="_blank">View site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>