<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="logo text-center">
                    <h1>vernik535</h1>
                </div>
                <div class="social">
                    <a class="social__link" target="_blank" href="https://www.facebook.com/">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Facebook"></use>
                        </svg>
                    </a>
                    <a class="social__link" target="_blank" href="https://Github.com/github">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Github"></use>
                        </svg>
                    </a>
                    <a class="social__link" target="_blank" href="https://www.instagram.com/">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Instagram"></use>
                        </svg>
                    </a>
                    <a class="social__link" target="_blank" href="https://www.linkedin.com/">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a class="social__link" target="_blank" href="https://twitter.com/?lang=ru">
                        <svg>
                            <use xlink:href="images/svg/sprite.symbol.svg#Twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>