<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="styles/main.min.css">
</head>
<body>
<header>
    <div class="parallax-window" data-parallax="scroll" data-image-src="images/bg.jpg">
        <div class="logo">
            <h1 data-aos="slide-up">nveretenko</h1>
        </div>
    </div>
</header>